@import 'media.scss';
@import '../index.scss';

.footer{
    margin-top: 60px; 
    margin-bottom: 50px;  
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__creds{
        color: $color-text;
        text-align: center;
    }

    @include below-small-tablet{
        flex-direction: column;
        row-gap: 20px;
    }

    &__useful{
        display: flex;
        column-gap: 20px;
        
        display: flex;
        align-items: center;
       

        span{
            
            a{
               
                text-decoration: none;
                color: $color-text;
                
            }
        }
    }
}