 @import './media.scss';
 @import '../index.scss';

 .main{

    position: relative;
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 15px;
        &-title{
            font-size: 36px;
        }

        &-filter{
            display: flex;
            column-gap: 5px;
            
                svg{
                    width: 24px;
                height: 24px;
                color: $color-accent2;
                }
                
            
        }
    }

    &__card{
        justify-self: center;
        min-width: 0;
        border-radius: 30px;
        border: 2px solid $color-accent;
        background-color: $color-card;
        box-shadow:  $shadow;
        &-img{
            object-fit: cover;
            border-radius: 30px 30px 0 0;
        }
        white-space: normal;
        
        @include below-desktop-wide{
            width: 390px;
           
        }
        @include below-desktop{
            width: 305px;
            
        }
        @include below-tablet{
            width: 220px;
            
        }
        @include below-small-tablet{
            max-width: 100%;
            width: 100%;
           

        @include mobile{

        }
        }

       

        &-body{
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            padding: 30px;
            position: relative;
            min-width: 0;

            @include below-desktop{
                padding: 25px;
            }

            @include below-tablet{
                padding: 20px;
            }

            @include below-small-tablet{
                padding: 15px;
            }
        }

        &-title{
            font-size: 22px;
        }

        &-description{
            white-space: nowrap; /* Текст не переносится на новую строку */
            overflow: hidden; /* Скрывает переполненный текст */
            text-overflow: ellipsis; /* Добавляет многоточие при обрезке */
            font-size: 18px;
            display: block;
            max-width: 100%;

        }

        &-additional{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
            
            @include below-tablet{
                flex-direction: column;
            }
            @include below-small-tablet{
                flex-direction: row;
            }

            button{
                display: flex;
                align-items: center;
                background: none;
                border: none;
                margin: 0;
                padding: 0;
                font: inherit;
                color: inherit;
                cursor: pointer;
                outline: none;
                &::after {
                    align-self: center;
                    content: '';
                    display: inline-block;
                    background: url('../../public/svg/arrow-right.svg') no-repeat center center;
                    background-size: contain;
                
                    height: 20px;
                    width: 20px;
                    margin-left: 5px;
                    /* Добавляем фильтр для изменения цвета SVG, если оно белое */
                    
                  }
            }
        }

        &-stat{
            font-size: 18px;
            display: flex;
            align-items: center;
            column-gap: 5px;
            white-space: wrap;

            &-downloads {
                position: relative;
        
                &::after {
                  content: '|'; /* Вертикальная черта как разделитель */
                  margin-left: 5px; /* Отступ слева */
                  color: $color-accent2;
                }
              }
        }
    }

    &__cards{
        max-width: 100%;
        display: grid;
        row-gap: 40px;
        grid-template-columns: repeat(3, 1fr);
        
        @include below-small-tablet{
            grid-template-columns: 1fr;
        }
    }

    &__load-button{
        width: 100%;
        border: none;
        background: transparent;
        padding: 0;
        margin: 0;
        font-size: inherit;
        cursor: inherit; 

        margin-top: 20px;
        font-size: 20px;
        color: $color-text;
        padding: 0.5em;
        border-radius: 0.25rem;
        border: 1px solid $color-accent;
        background-color: $color-accent;
    }
 }