 @import './media.scss';
 @import '../index.scss';

 .main{

    position: relative;
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 15px;
        &-title{
            font-size: 36px;
        }

        &-filter{
            &-button{
                display: flex;
                border: none;
                display: flex;
                padding: 5px 10px;
                border-radius: 10px;
                column-gap: 5px;
                color: $color-text;
                background-color: rgb(31, 31, 31);
                cursor: pointer;
                
                &:hover{
                    background-color: rgb(121, 121, 121) !important;
                }
                
                    &-svg{
                        pointer-events: none; // 🛠️ Вот это!
                        width: 24px;
                        height: 24px;
                        color: $color-accent2;
                    }
            }
            
            &-body{

                opacity: 0;
                transform: translateY(-10px);
                visibility: hidden;
                transition: 0.3s;

                position: absolute;
                top: 50px;
                right: 10px;
                @include below-small-tablet{
                    right: 20px;
                }
                background-color: white;
                padding: 5px 20px;
                border-radius: 10px;

                &.active{
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }
            }

            &-list{  
                row-gap: 5px;
                list-style-type: none;
            }

            &-item{
                color: black;
            }
            
        }
    }

    &__card{
        position: relative;
        min-width: 0;
        border-radius: 30px;
        border: 2px solid $color-accent;
        background-color: $color-card;
        box-shadow:  $shadow;
        display: flex;
        flex-direction: column;
        justify-content: start;
        
        &-favorite-btn{
            position: absolute;
            right: 24px;
            top: 24px;
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            color: $color-accent2;
            

            transition: transform 0.3s ease;
            &:hover {
                cursor: pointer;
                /* Масштабируем родительский div */
                transform: scale(1.25); 
                background: #FFF;
            }
        }

        &-img{
            object-fit: cover;
            border-radius: 30px 30px 0 0;
        }
        white-space: normal;
        
        @include below-desktop-wide{
            width: 390px;
           
        }
        @include below-desktop{
            width: 305px;
            
        }
        @include below-tablet{
            width: 220px;
            
        }
        @include below-small-tablet{
            max-width: 100%;
            width: 100%;
           

        @include mobile{

        }
        }

       

        &-body{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            row-gap: 5px;
            padding: 30px;
            position: relative;
            min-width: 0;

            @include below-desktop{
                padding: 25px;
            }

            @include below-tablet{
                padding: 20px;
            }

            @include below-small-tablet{
                padding: 15px;
            }
            
        }

        &-title{
            font-size: 22px;
            height: 3em;
        }

        &-description{
            white-space: nowrap; /* Текст не переносится на новую строку */
            overflow: hidden; /* Скрывает переполненный текст */
            text-overflow: ellipsis; /* Добавляет многоточие при обрезке */
            font-size: 18px;
            display: block;
            max-width: 100%;

        }

        &-additional{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
            
            @include below-tablet{
                flex-direction: column;
            }
            @include below-small-tablet{
                flex-direction: row;
            }
            a{
                text-decoration: none;
                font-weight: 700;
                color: black;
            }
            button {
                position: relative;
                display: flex; /* Кнопка всегда flex, чтобы выровнять контент и стрелку */
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                background: $color-accent;
                border: none;
                margin: 0;
                padding: 5px 10px;
                font: inherit;
                color: inherit;
                cursor: pointer;
                outline: none;
                
            
                // &::after {
                //     position: absolute;
                //     right: -1.6rem;
                //     content: '';
                //     display: inline-block; /* Или block, в зависимости от нужного выравнивания */
                //     background: url('../../public/svg/arrow-right.svg') no-repeat center center;
                //     background-size: contain;
                //     height: 20px;
                //     width: 20px;
                //     margin-left: 5px;
                    
                //     /* Начальное состояние стрелки: скрыта и смещена */
                //     transform: translateX(-10px); /* Смещаем влево, чтобы "выдвигалась" */
                //     opacity: 0; /* Скрываем стрелку */
            
                //     /* Плавный переход для смещения и прозрачности */
                //     transition: transform 0.3s ease-out, opacity 0.3s ease-out;
            
                   
                // }
            
                &:hover {
                    background: darken($color-accent, 10%); /* Меняем фон при наведении для эффекта */
            
                    &::after {
                        transform: translateX(0); /* Возвращаем стрелку на исходную позицию (выдвигаем) */
                        opacity: 1; /* Показываем стрелку */
                    }
                }
            }
        }

        &-stat{
            font-size: 18px;
            display: flex;
            align-items: center;
            column-gap: 5px;
            white-space: wrap;

            &-downloads {
                position: relative;
        
                &::after {
                  content: '|'; /* Вертикальная черта как разделитель */
                  margin-left: 5px; /* Отступ слева */
                  color: $color-accent2;
                }
              }
        }
    }

    &__cards{
        max-width: 100%;
        display: grid;
        column-gap: 40px;
        row-gap: 40px;
        grid-template-columns: repeat(3, 1fr);
        @include below-desktop-wide{
            
            column-gap: normal;
        }
        @include below-small-tablet{
            grid-template-columns: 1fr;
        }
    }

    &__load-button{
        width: 100%;
        border: none;
        background: transparent;
        padding: 0;
        margin: 0;
        font-size: inherit;
        cursor: pointer; 

        margin-top: 20px;
        font-size: 20px;
        color: $color-text;
        padding: 0.5em;
        border-radius: 0.25rem;
        border: 1px solid $color-accent;
        background-color: $color-accent;

        transition: background-color 0.3s ease; /* Smooth transition */
            &:hover{
                background-color: $color-bg;
                color: white;
                
            }
    }
 }