@import './media.scss';

.stat{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;

    &__title{
        margin-bottom: 15px;
    }

    &__description{
        margin-bottom: 50px;
    }

    &__blocks{
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr); // 4 равные колонки
        gap: 20px; // равномерные отступы между ними
        
        @include below-small-tablet{
            grid-template-columns: repeat(2, 1fr);
    gap: 16px;
        }

        @include mobile{
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &-img{
            width: 48px;
            height: 48px;
        }

        &-dashboard{
            @include mobile{
                width: 100%;
            }
            padding: 20px;
            border: 1px solid blueviolet;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }
    }

    &__inTouch{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        padding: 30px 50px;
        h3{
            margin: 0;
            font-size: 36px;
        }


        button{
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            padding: 5px 10px;
            font-size: 24px;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            white-space: pre;
            img{
                width: 24px;
                height: 24px;
            }
        }
        
        
        border: 1px solid blueviolet;
        border-radius: 10px;
    }
   
}