@import './styles/normalize.scss';
@import './styles/media';
@import './styles/utility';

// Основные
$color-bg:        #1e1e1e;
$color-bg-soft:   #2a2a2a;
$color-card:      #3a3a3a;

$color-text:      #e0e0e0;
$color-text-soft: #bdbdbd;

// Акценты
$color-accent:    #ff6b00;   // основной оранжевый
$color-accent2:   #f3a712;   // жёлто-оранжевый для иконок и подчёркивания

// Эффекты
$shadow:   0 4px 10px rgba(255, 107, 0, 0.3),
0 0 4px rgba(255, 107, 0, 0.3);


body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: $color-text;
  background-color: $color-bg-soft;

  svg{
    color: $color-accent2;
  }
}